body {
    background-color: #e2e7ec;
}
.column {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 30px;
    /*justify-content: center;*/
    align-content: center;
}
.row11 {
    width: 740px;
    height: 540px;
    margin-right: 20px;
    background-color: #ffffff;
}
.row12 {
    width: 360px;
    height: 540px;
    margin: 0;
    background-color: #ffffff;
}
.row2 {
    width: 360px;
    height: 540px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #ffffff;
}
.date1 {
    color: #818181;
    font-size: 13px;
    letter-spacing: 0.325px; 
    margin-top: -135px;
    margin-left: 5px;
    font-family: 'Hans Kendrick V4';
    padding-left: 40px;
}
h1 {
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0.75px; 
    margin-left: 5px;
    font-family: 'Hans Kendrick V4';
    padding-left: 40px;
}
.date2 {
    color: #818181;
    font-size: 13px;
    letter-spacing: 0.325px; 
    font-family: 'Hans Kendrick V4';
    margin: 25px;
}
h2 {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 0.484px; 
    font-family: 'Hans Kendrick V4';
    padding-bottom: 10px;
    margin: 25px;
    width: 320px;
    height: 85px;
}
.avatar {
    padding-left: 28px;
    vertical-align: bottom;    
}
