body {
    background-color: white;
}
.head {
    width: 100vw;
}

.head__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #303030;
    text-align: center;
    font-weight: bold;
}
.head__text {
    max-width: 1070px;
    line-height: 90px;
    font-size: 86px;
    font-family: 'Poppins', sans-serif;
    color: #303030;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .head__text {
        font-size: 70px;
        line-height: 80px;
    }
  }
  @media screen and (max-width: 900px) {
    .head__text {
        font-size: 60px;
        line-height: 70px;
    }
  }
  @media screen and (max-width: 768px) {
    .head__text {
        font-size: 50px;
        line-height: 50px;
    }
  }
  @media screen and (max-width: 480px) {
    .head__text {
        font-size: 30px;
        line-height: 30px;
    }
  }
.slider .slide {
    position: relative;
    height: 55vh;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .slider .slide {
        height: 30vh;
    }
  }
.slide:hover .slide__bg{
    visibility: visible;
}
.slide:hover .slide__article{
    visibility: visible;
}
.slide:hover .slide__author{
    visibility: visible;
}
.slide__img {
    width: 440px;
    height: 400px;
    position: relative;
}
@media screen and (max-width: 1024px) {
    .slide__img {
        width: 390px;
        height: auto;
    }
  }
  @media screen and (max-width: 900px) {
    .slide__img {
        width: 325px;
        height: auto;
    }
  }
  @media screen and (max-width: 768px) {
    .slide__img {
        width: 245px;
        height: auto;
    }
  }
.slide__bg {
    position: absolute;
    top: 150px;
    opacity: 0.6;
    visibility: hidden;
}

@media screen and (max-width: 1024px) {
    .slide__bg {
        width: 390px;
        height: auto;
        top: 172px;
    }
  }
  @media screen and (max-width: 900px) {
    .slide__bg {
        width: 325px;
        height: auto;
        top: 202px;
    }
  }
  @media screen and (max-width: 768px) {
    .slide__bg {
        width: 245px;
        height: auto;
        top: 80px;
    }
  }
.slide__article {
    position: absolute;
    left: 60px;
    bottom: 200px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    width: 350px;
    line-height: 24px;
    text-align: left;
    visibility: hidden;
    color: #fff;
    letter-spacing: 5.6px
}
.slide__author {
    position: absolute;
    left: 60px;
    bottom: 160px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    visibility: hidden;
    color: #fff;
    letter-spacing: 5.6px
}
.slick-prev, .slick-next {
    position: absolute;
    top: 45%;
    z-index: 9;
}
.slick-prev {
    left: 20px;
}
.slick-next {
    right: 20px;
}
.icon {
    display: inline-block;
    width: 4em;
    height: 4em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}