body {
    background-color: #000000;
}
.main {
    width: 1920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.header {
    background-image: url(img/header_bg.jpg);
    width: 100%;
    height: 1071px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.design-lab__logo {
    margin-top: 280px;
}
.header__design-lab {
    width: 600px;
    text-align: center;
}
.icon {
    margin: 0 auto;
    padding: 0;
    width: 70px;
    height: 70px;
}
.icon-circle-compass--white {
    stroke: #ffffff;
}
.icon-circle-compass--black {
    stroke: #000000;
    position: absolute;
    top: -13px;
    left: -76px;
}
.icon-mouse {
    stroke: #ffffff;
    fill: transparent;
}
.design-lab__title {
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 8.64px;
    padding-top: 90px;
}
.design-lab__text {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 0.9px;
    padding-top: 50px;
}
.design-lab__scroll {
    padding-top: 70px;
}
.about-us {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.about-us__content {
    position: relative;
    width: 863px;
    height: 312px;
    margin-top: 160px;
    text-align: center;
    padding: 40px;
   /*граница с разрывом*/
     color: #000000;
     /* top: 80px;*/
     /*верхняя граница*/
    background: linear-gradient(#000000, #000000), linear-gradient(#000000, #000000);
    background-size: 243px 2px, 243px 2px; /*размер верхних границ (левая, правая)*/
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    /* основные границы */
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}
.content__title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.content__title--white {
    color: #ffffff;
    top: -58px;
}
.content__title--black {
    color: #000000;
    top: -58px;
}
.content__text {
    padding-top: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 0.1px;
    line-height: 24px;
}
.content__text--white {
    color: #ffffff;
}
.content__text--black {
    color: #000000;
}
.services {
    position: relative;
    background-image: url(img/services_bg.jpg);
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.services__content {
    position: relative;
    width: 863px;
    height: 250px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 40px;
    text-align: center;
   /*граница с разрывом*/
     color: #ffffff;
     /* top: 80px;*/
     /*верхняя граница*/
    background: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff);
    background-size: 243px 2px, 243px 2px; /*размер верхних границ (левая, правая)*/
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    /* основные границы */
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}
.we-do {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 1415px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.we-do__content {
    position: relative;
    width: 863px;
    height: 1180px;
    margin-top: 160px;
    text-align: center;
    padding: 40px;
   /*граница с разрывом*/
     color: #000000;
     /* top: 80px;*/
     /*верхняя граница*/
    background: linear-gradient(#000000, #000000), linear-gradient(#000000, #000000);
    background-size: 243px 2px, 243px 2px; /*размер верхних границ (левая, правая)*/
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    /* основные границы */
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}
.we-do__item {
    margin-bottom: 80px;
}
.we-do__item__title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 30px;
}
.we-do__item__text {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #000000;
    line-height: 26px;
    padding-top: 40px;
}
.links {
    background-color: #ffffff;
    width: 100%px;
    height: 490px;
    margin: 0;
    padding-top: 110px;
}
.links__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
} 
.links__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}
.link__block {
    position: relative;
    display: flex;
    justify-content: left;
}
.link__block--marg {
    margin-left: 10px;
    margin-right: 10px;
}
.link__block_image {
    position: relative;
}
.link__block_title {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 135px;
    left: 20px;
}
.footer {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__content {
    position: relative;
    width: 863px;
    height: 1180px;
    margin-top: 160px;
    text-align: center;
    padding: 40px;
   /*граница с разрывом*/
     color: #000000;
     /* top: 80px;*/
     /*верхняя граница*/
    background: linear-gradient(#000000, #000000), linear-gradient(#000000, #000000);
    background-size: 243px 2px, 243px 2px; /*размер верхних границ (левая, правая)*/
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    /* основные границы */
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}
.content__button {
    padding-top: 22px;
}
.content__button_submit {
    background-color: #000000;
    height: 60px;
    width: 396px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
    border: none;
}
.footer__copyright {
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content__text--little {
    font-size: 14px;
    color: #000000; 
}
