* {
    transition: all .1s ease-in;
}
body {
    background-color: #FDDE7E;
}
.row {
    width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #FDDE7E;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.cups {
    background-color: white;
    width: 360px;
    height: 440px;
    text-align: center;
    align-items: baseline;
    align-content: center;
}
.cups:hover {
    height: 500px;
}
h2 {
    color: #02995B;
    font-family: 'miso';
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 15px;
}
h3 {
    color: #000000;
    font-family: 'miso';
    font-size: 56px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0
}
p {
    color: #000000;
    font-family: 'miso';
    font-size: 20px;
    padding-bottom: 20px;
    margin: 0;
    letter-spacing: 0.5px;
}
