* {
    transition: 2s all easy-in;
}
body {
    font-size: 13px;
}
.main {
    background-image: url(img/bg.jpg);
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
.product {
    display: flex;
    position: relative;
    background-image: url(img/bg.png);
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
}
.product__images {
    flex:2;
    position: relative;
}
.logo {
    position: relative;
    top: 130px;
    left: 80px;
}
.main-image {
    position: relative;
    top: 170px;
    left: 112px;
    width: 330px;
} 
.main-image__sneakers {
    max-width: 100%;
}
.product__details {
    flex: 1;
}
.info {
    padding-top: 187px;
}
.info__name {
    width: 180px;
    color: #e1e1e1;
    font-family: 'Museo', sans-serif;
    font-size: 24px;
    letter-spacing:0.48px;
    font-weight: lighter;
    line-height: 26px;
}
.info__description {
    color: #e1e1e1;
    font-family: 'Museo', sans-serif;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: lighter;
    padding-top: 17px;
    padding-bottom: 26px;
}
.info__variant  {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
}
.size {
    width: 60px;
    height: 30px;
    background-color: #111a28;
    color: #e1e1e1;
    font-family: 'Museo', sans-serif;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: lighter; 
}
.quantity {
    width: 60px;
    height: 30px;
    background-color: #111a28;
    color: #e1e1e1;
    font-family: 'Museo', sans-serif;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: lighter; 
    padding-left: 5px;
}
.card {
    width: 185px;
    height: 40px;
    background-color: #202835;
    border: 1px solid #e1e1e1;
    color: #e1e1e1;
    font-family: 'Museo', sans-serif;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: lighter; 
}
.fa {
    color: #9da1a6;
}
.checked { 
    color: gold;
} 
.color {
    display: flex;
    justify-content: center;
    padding-left: 63px;
    position: relative;
    top: 260px;
}
.fas {
    padding: 5px;
    margin: auto 0;
 }
.color_grey {
    color: #1f273f;
}
.color_white {
    color: #ffffff;
}
.color_red{
    color: #ed3333;

}
.color_blue {
    color: #29e3ea;
}

.fas:hover{
    border: 2px solid  #4e5560;
    border-radius: 50%;
}