$fontTitle: 'Bebas Neue Light', sans-serif;
$fontText: 'Roboto', sans-serif;
$baseFont: 'Bebas Neue Regular', sans-serif;
$btnFont: 'Bebas Neue Bold', sans-serif;
$baseFontSize: 16px;

$baseColor: #000;
$popColor: #fd8d7b;
$whtColor: #fff;
$grColor: #f5f4f9;
$regColor: #6fcffb;


